body {
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  background-color: rgb(63, 71, 82);
}

.post-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 4fr 3fr 2fr;
  background-color: rgb(106, 115, 128);
  border-radius: 5px;
}

/* button bar */
.post-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
}

.post-img img {
  width: 100%;
}

.post-details-bar {
  background-color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1.1rem;
}

.post-details-bar h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-btn-bar {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  width: 100%;
}

.post-btns {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.post-btns > button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.poster-alias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-display {
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius: 30px;
  left: 18px;
  bottom: 15px;
  color: white;
  font-size: 8px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-display div {
  margin-bottom: .5px;
}

.heart-btn {
  position: relative;
}

.retweet-btn {
  position: relative;
}

.comment-btn {
  position: relative;
}


/* post form */

.post-form {
  padding: 10px;
  background-color: rgb(106, 115, 128);
  border-radius: 5px;
}

.post-form form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  background-color: rgb(106, 115, 128);
} 

.form-btn-bar {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}

.form-btn-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;  
}

.post-content-input {
  border: none;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 5px;
}

.form-user-icon {
  background-color: white;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50px;

}

/* comment form */
.comment-form {
  margin: 10px;
}

.comment-form input {
  border: none;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 90%;
  height: 20px;
}

.comments-list {
  height: 100px;
  overflow-y: scroll;
  padding: 0px;
  margin: 0px;
}

.comments-list > div{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

/* navigation */

.navbar {
  background-color: rgb(106, 115, 128);
  border-top-right-radius: 5px;
  font-weight: 600;
  
}

.nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav li {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li:hover {
  background-color: cornsilk;
}

.nav li > a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}
/* Profile page*/

.profile-title {
  background-color: #6a7380 ;
  height: 40px;
  padding: 10px;
}

.profile-title button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 50px;
  border: 2px solid white;
  border-radius: 50px; 
  color: white; 
}


.profile-title button:hover {
  background-color: white;
  border: none;
  color: #6a7380;
}

.profile-wigit {
  background-color:  rgba(49, 51, 66, 0.466);
  height: 1300px;
}

.user-wallpaper {
  height: 150px;
  background-color:#6a7380
}

.user-details {

}

.user-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 50px;
}

.user-nav div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.user-nav div:hover {
  background-color: rgb(250, 239, 220);
}

.user-profile-content {

} 


i {
  color: white;
}

