body {
  background-color: rgb(236, 236, 236);
}

.App {
  display: grid;
  grid-template-columns: 1fr;

}

.post-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.post {
  background-color: ivory;
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 4fr 3fr 1fr 1fr;
}

/* button bar */
.post-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-details-bar {
  background-color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1.1rem;
}

.post-details-bar h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-btn-bar {
  background-color: ivory;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  width: 100%;
}

.post-btns {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.poster-alias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-display {
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius: 30px;
  left: 18px;
  bottom: 15px;
  color: white;
  font-size: 8px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-display div {
  margin-bottom: .5px;
}

.heart-btn {
  position: relative;
}

.retweet-btn {
  position: relative;
}

.comment-btn {
  position: relative;
}


/* form */

.post-form {
  padding: 10px;
  background-color: ivory;
}

.post-form form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
} 

.form-btn-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-btn-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

}

.form-btn-bar {

}


.form-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.form-text-area {
  background-color: white;
  height: 100%; ;
  border: 2px solid black;
}

.form-user-icon {
  background-color: white;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50px;

}

/* comment form */
.comment-form {
  padding: 10px;
  background-color: ivory;
}
